* {
    font-size: 10pt;
}

h1, h2, h3, h4, h5 th {
    color: #555;
}
h3, h4 {
    margin: 0;
}
h3 {
    font-size: 1.2em;
}

.paper {
    padding: 20px;
}

table {
    width: 100%;
}

th, td {
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
}

th {
    text-align: left;
}

